:root {
    --gold: #2d9596;          
    --gold-light: #9ad0c2;
    --charcoal: #265073;
    --cream: #ecf4d6;          
    --text-dark: #265073;      
}

body {
    background-color: var(--cream) !important;
    font-family: "Poppins", sans-serif;
    color: var(--text-dark);
}

.signup-wrapper {
    background-color: var(--cream) !important;
}

.signup-card {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 12px;
}

.gold-btn {
    background-color: var(--gold) !important;
    color: white;
    border: none;
    transition: background 0.3s;
}

.gold-btn:hover {
    background-color: var(--gold-light) !important;
}

.gold-text {
    color: var(--gold)!important;
    font-weight: 600;
}

input:focus {
    box-shadow: 0 0 8px rgba(45, 149, 150, 0.5) !important;
    border-color: var(--gold) !important;
    transition: .3s ease;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(.85);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.signup-card {
    animation: zoomIn .8s ease-out;
}

.btn-google {
    background-color: white; 
    color: var(--text-dark);
    border: 1px solid var(--gold-light) !important;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-google:hover {
    background-color: var(--cream) !important; 
    color: var(--text-dark);
    border-color: var(--gold);
    box-shadow: 0 0 5px rgba(45, 149, 150, 0.2);
}

.btn-google i {
    color: var(--gold) !important;
    font-size: 1.1em;
}